body, h1,h2,h3,h4,h5,h6 {
    font-family: "Brand", Arial, Helvetica, sans-serif
}

/* Apply background image settings */
html {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/266/590/small/summer-beach-background-free-vector.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Center the content and make the root take the full height */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* Center the .content div vertically and horizontally */
.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1; /* Fills remaining space */
}

.content {
    width: 600px;
    margin: auto;
    background-color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 40px;
}

.pagenumbox {
    background-color: grey;
    text-align: right;
    border-radius: 12.5px;
    height: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.pagenum {
	color: white;
    margin-left: 8px;
    margin-right: 8px;
}

hr {
    width: 400px;
    color: darkslategrey;
    border-width: medium;
}

/* Position media-theme-sutro-audio at the bottom */
media-theme-sutro-audio {
    align-self: center; /* Center horizontally at the bottom */
    margin-bottom: 10px; /* Optional: Adds some spacing at the bottom */
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

.pagelistpage {
    text-align: center;
    list-style: none;
    display: block;
    width: 150px;
    margin: 3px 8px;
    cursor: pointer;
}

li.pagelistpage a {
    display: block;
    padding: 8px;
    background-color: slateblue;
    color: aliceblue;
    text-decoration: none;
    border-radius: 13px;
    transition: border-radius 0.3s;
    cursor: pointer;
}

li.pagelistpage a:hover {
    background-color: mediumslateblue;
    color: white;
    border: 2px solid aliceblue;
    transition: background-color 1s;
    border-radius: 8px;
    transition: border-radius 0.3s;
}
